.chart {
	margin: 1rem;
	padding: 1.2rem 2rem;
	border-radius: 1rem;
	background-color: #ffffff;
	box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

	@media screen and (max-width: 480px)  {
		width: 90%;
	}
}

.chartTitle {
	margin-bottom: 20px;
	font-size: larger;
	font-weight: bold;
}