.customeraddnew {
	flex-grow: 1;
	background-color: #fafafa;

	.customer-header {
		display: flex;
		justify-content: space-between;
		margin: 1rem;
	}

	.title {
		color: #888;
		font-size: x-large;
		font-weight: bold;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.card {
		-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
		box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
		transition: 0.3s;
		margin: 20px;
		border: 2px rgba(180, 180, 180, 0.329) solid;
		border-radius: 5px;
	}

	.container {
		padding: 1rem;
		height: 100%;
	}

	.btn {
		border: 2px solid black;
		background-color: white;
		color: black;
		padding: 5px 10px;
		font-size: 16px;
		font-weight: bold;
		border-radius: 0.3rem;
		cursor: pointer;
		transition: color 0.4s, background-color 0.4s;
	}

	.btn:disabled{
		opacity: 0.5;
		cursor: not-allowed;
	}

	/* Green */
	.success {
		border-color: #04AA6D;
		color: #04AA6D;
	}

	.success:hover {
		background-color: #04AA6D;
		color: white;
	}

	/* Blue */
	.info {
		border-color: #2196F3;
		color: dodgerblue;
	}

	.info:hover {
		background: #2196F3;
		color: white;
	}

	/* Orange */
	.warning {
		border-color: #ff9800;
		color: orange;
	}

	.warning:hover {
		background: #ff9800;
		color: white;
	}

	/* Red */
	.danger {
		border-color: #f44336;
		color: rgb(222, 72, 72);
	}

	.danger:hover {
		background: #f44336;
		color: white;
	}

	.default {
		border-color: #e7e7e7;
		color: black;
	}

	.default:hover {
		background: #e7e7e7;
	}

	.button-loader {
		width: 25px;
		height: 25px;
		margin: 0 1rem;
		border: 3px solid transparent;
		border-top-color: #ffffff;
		border-radius: 50%;
		animation: button-loading-spinner 1s ease infinite;
	}

	@keyframes button-loading-spinner {
		from {
			transform: rotate(0turn);
		}

		to {
			transform: rotate(1turn);
		}
	}

	.my_input{
		margin-top: 5px;
		padding: 6px 20px;
		display: block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		width: 100%;

		&:focus{			
			box-shadow: 0 0 6px 0px darkgrey;
		}
		&:focus-visible{
			outline: none;
		}
	}
}