.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;

    @media screen and (max-width: 768px)  {
        flex-direction: column;
        align-items: center;
    }
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: white;

    .featuredTitle {
        font-size: 20px;
        color: #03c885;
    }
    
    .featuredMoneyContainer {
        margin: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            color: black;
            text-decoration: none;
        }

        .cardIcon {
            border-radius: 5px;
            color: #540106;
            width: 15px;
            height: 15px;
        }

        .featuredMoney {
            font-size: 30px;
            font-weight: 500;
        }

        .featuredMoneyRate {
            display: flex;
            align-items: center;
            margin-left: 20px;
        }

        .text-hover-primary{
            &:hover{
                color:rgb(73, 114, 167)
            }
        }
    }

    .featuredSub {
        font-size: 15px;
        color: gray;
        cursor: pointer;
        border-bottom: solid 1px rgb(167, 167, 167);
    }

    @media screen and (max-width: 768px)  {
        width: 65vw;
        min-height: 12rem;; 
        margin: 0.8rem 0rem;
    }
}
