.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;

    @media screen and (max-width: 768px)  {
        flex-direction: column;
        align-items: center;
    }
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: white;

    @media screen and (max-width: 768px)  {
        width: 65vw;
        min-height: 12rem;; 
        margin: 1.5rem 0rem;
    }
}

.featuredTitle {
    font-size: 20px;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredSub {
    font-size: 15px;
    color: gray;
}